<?xml version="1.0"?>
<Settings>
  <FilerWindow path="/home/void">
    <DisplayStyle>0</DisplayStyle>
    <SortType>0</SortType>
    <SortOrder>0</SortOrder>
    <ViewType>0</ViewType>
    <DetailsType>0</DetailsType>
    <ShowThumbs>1</ShowThumbs>
    <FilterType>0</FilterType>
    <FilterDirectories>0</FilterDirectories>
  </FilerWindow>
</Settings>
